/01ParseInventorSite/vacancy.json
/node_modules
/package-lock.json
/01ParseInventorSite/package-lock.json
/01ParseInventorSite/node_modules
/01ParseInventorSite/inventorTest.gz
/03Auth/package-lock.json
/03Auth/node_modules/
/03Auth/node_modules